extends layout
block content
  div.container
    h3 Index Pug
    form(method="post" action="/deneme")
      input(type="text", name="email")
      input(type="text", name="username")
      button(id="send" type="submit") send
    pre #{data}
