extends layout
block content
  div.container
    h3 Login
    form(method="post", action="/users")
      input(name="email") 
      input(name="password")
      button(type="submit") submit
    pre #{users}